[mcu adxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E660C0D1C7676139-if00

[adxl345]
cs_pin: adxl:gpio1
spi_bus: spi0a
axes_map: x,z,y

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 90
probe_points:
    175,175,20



## ADXL345
# [adxl345]
# cs_pin: can0:ADXL_CS
# spi_software_sclk_pin: can0:ADXL_SCLK
# spi_software_mosi_pin: can0:ADXL_MOSI
# spi_software_miso_pin: can0:ADXL_MISO
# axes_map: x,y,z

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     175,175,20  # an example for a 350mm printer
